.container {
    width: 530px;
    margin: auto;
    margin-top: 4px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 20px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 25px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.container button {
    margin: auto;
    width: 120px;
    height: 40px;
    background: #553f9a;
    color: white;
    font-size: 25px;
    font-weight: 200;
    border-radius: 7px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 15px;
}

.container .correct {
    background: #dffff2;
    border-color: #00d397;
}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
}